.search-keyword{
	text-decoration: none;
	font-family: "Open Sans",-apple-system,BlinkMacSystemFont,"PingFang SC",STHeiti,"Helvetica Neue","Microsoft Yahei",Tahoma,Simsun,sans-serif;
}
.search-result-list li a {
	text-decoration: none;
}
.search-result-list li a:hover{
	text-decoration: none;
	color: white;
}
a {
	text-decoration: none !important;
}
.toc:hover .toc-text{
    color: #676767 !important;
}
.toc-link{
	color: #676767 !important;
}
.toc-text {
	transition: 0.3s;
    color: #676767 !important;
}
.search-result-title::first-letter{
	text-transform: uppercase !important;
}
.dropdown-content li a:hover {
    background: #2570a1;
    color: #ffffff;
}
h1 {
    font-size: 32px;
    margin-top: 30px;
}